<div class="carousel slide">
  <div class="carousel-inner">
    <!-- prettier-ignore-->
    <div
      *ngFor="let group of [0, 1, 2]; let i = index"
      [ngClass]="{ 'active': selectedIndex === i }"
      class="carousel-item"
    >
      <div class="cards-wrapper">
        <div *ngFor="let image of images; let j = index" class="card">
          <div class="image-wrapper">
            <img (click)="onPreviewImage(i,j)" [src]="images[i][j].src" />
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="showMask" class="lightbox">
      <button *ngIf="previewImage" (click)="exitModal()" class="close-btn">
        <i class="fa-solid fa-xmark"></i>
      </button>
      <div *ngIf="previewImage" class="lightbox-img">
        <img [src]="lightboxImage.src" />
      </div>
    </div>
  </div>
  <div
    *ngIf="!previewImage"
    class="btn-carousel btn-prev"
    (click)="onPrevClick()"
  >
    <i class="fas fa-chevron-left"></i>
  </div>
  <div
    *ngIf="!previewImage"
    class="btn-carousel btn-next"
    (click)="onNextClick()"
  >
    <i class="fas fa-chevron-right"></i>
  </div>
</div>
