<div class="container d-flex justify-content-between amenities">
    <div class="d-flex flex-column icon-text">
      <i class="fa-solid fa-person-swimming"></i>
      <p>Piscina</p>
      <i class="fa-solid fa-wifi"></i>
      <p>wi-fi</p>
    </div>
    <div class="d-flex flex-column icon-text">
      <i class="fa-solid fa-umbrella-beach"></i>
      <p>100m da praia</p>
      <i class="fa-solid fa-car-side"></i>
      <p>Espaço para 4 carros</p>
    </div>
    <div class="d-flex flex-column icon-text">
      <i class="fa-solid fa-door-open"></i>
      <p>6 quartos</p>
      <i class="fa-solid fa-users"></i>
      <p>15 pessoas</p>
    </div>
    <div class="d-flex flex-column room-list">
      <ul class="room-list">
        <li><b>Quarto 1 -</b> 1 cama king, banheiro com box</li>
        <li><b>Quarto 2 -</b> 2 camas de solteiros, banheiro com box</li>
        <li><b>Quarto 3 -</b> 2 camas de solteiro, banheiro com box</li>
        <li><b>Quarto 4 -</b> 1 cama de casal, banheiro com box</li>
        <li><b>Quarto 5 -</b> 1 cama de casal, banheiro com box</li>
        <li><b>Quarto 6 -</b> 2 camas de solteiro, banheiro com box</li>
      </ul>
    </div>
  </div>