<div class="container amenities">
  <div class="icons">
    <div *ngFor="let amenity of amenities; let i = index">
      <!-- check if popover or new div -->
      <div *ngIf="i != 4" class="icon">
        <i class="{{ amenity.icon }}"></i>
        <p>{{ amenity.info }}</p>
      </div>
      <div
        *ngIf="i === 4"
        class="icon icon-bold"
        [ngbPopover]="content"
        triggers="mouseenter:mouseleave"
        #p="ngbPopover"
        (click)="p.open()"
        [popoverTitle]="title"
      >
        <i class="{{ amenity.icon }}"></i>
        <p>{{ amenity.info }}</p>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <ng-template #title>Disposição das suítes</ng-template>
  <ng-template #content>
    <ul class="room-list">
      <li *ngFor="let room of rooms; let i = index">
        <b>Suíte {{ i + 1 }}:</b> {{ room }}
      </li>
    </ul>
  </ng-template>
</div>
