<div class="d-flex flex-column min-vh-100 justify-content-between">
  <!-- NAVBAR -->
  <!-- <div class="container-fluid">
    <nav class="navbar navbar-expand navbar-light bg-light">
      <a
        class="navbar-brand mb-0 h1"
        routerLinkActive="active"
        routerLink="/home"
        ><i class="fa-solid fa-house"></i> {{ title }}</a
      >
      <ul class="nav nav-pills">
        <li>
          <a
            class="nav-link text-decoration-none"
            routerLinkActive="active"
            routerLink="/"
          >
            Reservar
          </a>
        </li>
      </ul>
    </nav>
  </div> -->
  <div class="container">
    <router-outlet></router-outlet>
  </div>
  <footer class="text-center text-lg-start text-muted mt-auto">
    <section
      class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
    >
      <div class="me-5 d-none d-lg-block">
        <span
          >Desenvolvido com <i class="fa-solid fa-heart"></i> por Vitor
          Navarro</span
        >
      </div>
      <div>
        <a
          href="https://github.com/navarrovitor"
          target="_blank"
          class="me-4 text-reset"
        >
          <i class="fa-brands fa-github"></i>
        </a>
        <a
          href="https://www.linkedin.com/in/navarrovitor/"
          target="_blank"
          class="me-4 text-reset"
        >
          <i class="fa-brands fa-linkedin"></i>
        </a>
      </div>
    </section>
  </footer>
</div>
