<div class="container">
  <h3><b>Sobre o Refúgio</b></h3>
  <p>
    Perfeito! Isso mesmo, perfeito para o seu lazer, o seu descanso, a sua
    família, para os seus convidados, perfeito para você! Apresentamos o nosso
    Lodge 74, localizado em Ilhabela, perfeito para tudo! Essa casa linda, com
    conceito moderno, arquitetura com muita madeira, vidro e pedras, que remete
    ao rústico, muito verde e um charme ímpar, tem um amplo espaço que integra a
    sala de tv, sala de estar com lareira, mesa de jantar, cozinha completa com
    cervejeira, convida a sair na varanda e, claro, já nos conquista desde à
    primeira vista!
  </p>
</div>
