@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~@fortawesome/fontawesome-free/css/fontawesome";
@import "~@fortawesome/fontawesome-free/css/regular";
@import "~@fortawesome/fontawesome-free/css/solid";
@import "~@fortawesome/fontawesome-free/css/brands";

div.card-header {
  font-size: large;
}

div.card {
  margin-top: 5vh;
}

.table {
  margin-top: 10px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body{
  background-color: #EBEBEB;
}