<re-big-carousel></re-big-carousel>
<div class="container house-info">
  <h3>Mãe Bernarda</h3>
  <div class="d-flex flex-row justify-content-between" id="location">
    <i class="fa-solid fa-location-dot"></i>
    <p>Juquehy - SP</p>
  </div>
  <div class="d-flex flex-row justify-content-between">
    <div>
      <p id="price">A partir de R$10.000 por dia</p>
      <p id="taxes">+ taxas</p>
    </div>
    <div>
        <i class="fa-solid fa-door-closed"></i>
        <p>x Quartos</p>
    </div>
    <div>
        <i class="fa-solid fa-user"></i>
        <p>x Pessoas</p>
    </div>
  </div>
</div>
