.container {
  position: relative;
  margin-top: 50vh;
  padding-top: 3vh;
  width: 50%;
}

.house-info {
  font-family: "Josefin Sans", sans-serif;
  margin-bottom: 0;
}

#location {
  color: #0881a3;
  margin-bottom: 10px;
}

#price {
  color: #aeb5c2;
  font-size: small;
  margin-bottom: 0;
}

#taxes {
  color: #c5cad3;
  font-size: smaller;
}
